  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Homemade Goods</h2>
        <h3>This Year's Best</h3>
        <a class="btn btn-primary" href="#">See all</a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>kitchen</p>
        <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/kitchen.jpg">
      </div>
      <div class="col-sm-6">
        <p>woodwork</p>
        <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/woodwork.jpg">
      </div>
      <div class="col-sm-6">
        <p>gifts</p>
        <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/gifts.jpg">
      </div>
      <div class="col-sm-6">
        <p>antiques</p>
        <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/antique.jpg">
      </div>
    </div>
    <div class="row text-center">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
    </div>
  </section>
  
  